/*
 * Configure the z-index of the editor UI, so when inside a Bootstrap
 * modal, it will be rendered over the modal.
 */
 body{
 font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 }
:root { 
	-ck-z-default: 100; 
	-ck-z-modal: calc(var(- -ck-z-default)+ 999);
}

.img-list {
	width: 35px;
	float: left;
	vertical-align: middle;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.title a {
	font-size: 15px;
	text-decoration: none;
}

.card ul li {
	clear: both;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: auto;
	text-align: center;
	font-family: arial;
}

.title {
	color: grey;
	font-size: 14px;
}

button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 90%;
	font-size: 18px;
}

a {
	text-decoration: none;
}

button:hover, a:hover {
	opacity: 0.8;
}
/* Style the search field */
form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

/* Style the submit button */
form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: white;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
}

/* Clear floats */
form.example::after {
	content: "";
	clear: both;
	display: table;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.regist-btn {
		margin-bottom: 10px;
		width: 30%;
	}
	.login-btn {
		width: 30%;
	}
}